@model saboteur.ViewModels.Quiz.QuizViewModel
@using saboteur.Models.Game
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ul li a {
        color: wheat;
    }

    .option-container {
        height: 266px;
    }
</style>

@await Html.PartialAsync("_GreenFingerprint")
<div class="option-container player-container">
    <h3 class="yellow-font">@Model.Quiz.Title</h3>
    <a class="begin-quiz" href="/Quiz/Question/@Model.Season.Country/@Model.Season.CountrySeasonNum/@Model.Quiz.EpisodeId/1">Begin Quiz</a>
</div>